@import url(app/libs/magnific-popup/dist/magnific-popup.css);
@mobile : ~ "(max-width: 767px)";
@font-face {
  font-family: "raleway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"); }

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.contact__left {
  width: 47%;
  padding: 2rem; }

.contact__right {
  width: 53%;
  background: #2B2A2C url(https://placehold.it/480x700) center no-repeat; }

.contact__info {
  padding: 0;
  margin: 2rem 0 3rem;
  list-style: none;
  font-size: 0.94rem;
  color: #2B2A2C;
  font-weight: 300; }
  .contact__info-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.75rem; }
    .contact__info-item:last-child {
      margin-bottom: 0; }
    .contact__info-item .fas {
      margin-right: 0.7rem; }
