@import url(app/libs/magnific-popup/dist/magnific-popup.css);
@mobile : ~ "(max-width: 767px)";
@font-face {
  font-family: "raleway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"); }

.form__group {
  margin-bottom: 1.8rem; }

.form__label {
  display: inline-block;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  color: #2B2A2C;
  font-weight: 700; }

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 1.3rem 1.8rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #2B2A2C;
  border: 1px solid rgba(112, 112, 112, 0.3);
  border-radius: 1.8rem;
  -webkit-transition: border-color .2s ease;
  -o-transition: border-color .2s ease;
  transition: border-color .2s ease; }
  .form__input:focus,
  .form__textarea:focus {
    outline: none;
    border-color: tomato; }
  .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
    color: #2B2A2C; }
  .form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
    color: #2B2A2C; }
  .form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
    color: #2B2A2C; }
  .form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
    color: #2B2A2C; }
  .form__input::placeholder,
  .form__textarea::placeholder {
    color: #2B2A2C; }

.form__textarea {
  height: 200px;
  resize: none; }
