@import url(app/libs/magnific-popup/dist/magnific-popup.css);
@mobile : ~ "(max-width: 767px)";
@font-face {
  font-family: "raleway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"); }

.modal-work {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.modal-work__preview {
  width: 65%;
  position: relative;
  overflow: hidden; }

.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0); }

.modal-work__content {
  width: 35%;
  position: relative;
  padding: 3.4rem 6.6rem 1rem 1.73rem; }
  .modal-work__content .modal-work__header {
    margin-bottom: 2.2rem; }
  .modal-work__content .modal-work__client {
    margin-bottom: 2.2rem; }
    .modal-work__content .modal-work__client .modal-work__client-title {
      margin-bottom: 0.2rem;
      font-size: 1.06rem;
      color: #2B2A2C;
      font-weight: 700; }
    .modal-work__content .modal-work__client .modal-work__client-company {
      font-size: 0.94rem;
      font-style: italic;
      color: #6A696B; }
  .modal-work__content .modal-work__text {
    font-size: 0.8rem;
    line-height: 2;
    color: #6A696B;
    font-weight: 300;
    margin-bottom: 8.66rem; }

.modal-work__title {
  font-size: 2.2rem;
  color: #2B2A2C;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.2rem; }

.modal-work__info {
  font-size: 1.2rem;
  color: #6A696B;
  text-transform: uppercase; }
  .modal-work__info .modal-work__info-divider {
    margin: 0 1rem; }

.modal-work__footer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.8rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; }
  .modal-work__footer .modal-work__btn {
    font-size: 0.94rem;
    font-family: inherit;
    color: #2B2A2C;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer; }
    .modal-work__footer .modal-work__btn--prev .fas {
      font-size: 0.94rem;
      margin-right: 0.6rem; }
    .modal-work__footer .modal-work__btn--next .fas {
      font-size: 0.94rem;
      margin-left: 0.6rem; }
