@import url(app/libs/magnific-popup/dist/magnific-popup.css);
@mobile : ~ "(max-width: 767px)";
@font-face {
  font-family: "raleway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"); }

.timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 4.2rem auto;
  width: 100%;
  max-width: 768px;
  position: relative; }
  .timeline::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #2B2A2C;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1; }

.timeline__col {
  width: 50%; }
  .timeline__col--left {
    text-align: right;
    padding-right: 3.2rem; }
  .timeline__col--right {
    padding-left: 3.2rem; }

.timeline__title {
  font-size: 1.2rem;
  color: #2B2A2C;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2.6rem; }

.timeline__item {
  margin-bottom: 2.6rem; }
  .timeline__item:last-child {
    margin-bottom: 0; }

.timeline__date {
  display: block;
  margin-bottom: 0.8rem;
  text-decoration: underline;
  font-size: 0.94rem;
  color: #2B2A2C; }

.timeline__subtitle {
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: 700;
  margin-bottom: 0.2rem; }

.timeline__position {
  font-size: 0.94rem;
  color: #2B2A2C;
  font-style: italic; }

.timeline__text {
  font-style: 0.8rem;
  color: #6A696B;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 0.8rem; }
